# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.as linguist-language=Assembly
*.AS linguist-language=Assembly
*.AC linguist-language=C
*.ac linguist-language=C
*.AH linguist-language=C
*.ah linguist-language=C